/*폰 화면*/
.phone {
    width: 410px;
    height: 780px;
    overflow: hidden;
    background: #FFE8E3;;
    padding: 15px 25px;
    box-sizing: border-box;
    position: relative;
}
/*위에 시간 배터리 상단바*/
.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 12px;
    margin-bottom: 50px;
}
/* 시간 */
.status-left {
    font-weight: 500;
}
/*와이파이, 배터리*/
.status-right {
    display: flex;
    gap: 6px;
}

/* 간단한 아이콘 모양 (대충 형태만) */
.icon-signal {
    width: 14px;
    height: 8px;
    border-radius: 2px;
    border: 1px solid black;
}

.icon-wifi {
    width: 12px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid black;
}

.icon-battery {
    width: 20px;
    height: 10px;
    border-radius: 2px;
    border: 1px solid black;
    position: relative;
}

.icon-battery::after {
    content: "";
    position: absolute;
    right: -3px;
    top: 2px;
    width: 2px;
    height: 6px;
    border-radius: 1px;
    background: black;
}
.battery-fill {
  display: block;        /* ✅ 반드시 보여야 함 */
  height: 100%;          /* ✅ 배터리 높이와 맞춰야 함 */
  background-color: black; /* ✅ 색상 있어야 눈에 보임 */
  transition: width 0.3s ease;
}


/*뒤로가기*/
.emotion-back {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #EE8F78;
    display: flex;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.emotion-back svg {
    margin-right: 3px; /* 살짝 가운데 정렬 */
}

/* 타이틀 */
.emotion-title {
    font-size: 18px;
    font-weight: 700;
    color: #1A2B4B;
    line-height: 1.4;
}

/* 감정 얼굴 이미지 */
.emotion-img {
    object-fit: cover;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(100,0,0,0.20);
    transition: transform 0.15s ease;
    display: block;
    margin: 40px auto 70px auto;

}

/* 감정 텍스트 */
.emotion-label {
    margin-top: -50px; /* 이미지 아래로 가까이 */
    font-size: 18px;
    padding: 6px 22px;
    border-radius: 20px;
    border: 2px solid #EE8F78;
    color: #EE8F78;
    font-weight: 600;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.note-input {
    width: 100%;
    margin-top: 30px;        /* ★ 이미지와 거리 두기 */
    border: none;
    border-bottom: 2px solid #C5C5C5;
    padding: 10px 0;
    font-size: 16px;
    background: transparent;
}

/* 다음 버튼 */
.emotion-next-btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%); /* ⭐ 중앙 정렬 */
    width: 80%;
    background: #EE8F78;
    color: white;
    border: none;
    padding: 18px 0;
    border-radius: 22px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
